/* ========================================================================== 
   FOOTER
   ========================================================================== */

.page__footer {
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;

  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  height: auto;
  /* sticky footer fix end */

  margin-top: 3em;

  /* Fondo con degradado de azul oscuro a claro */
  background: linear-gradient(180deg, #003366 0%, #99ccff 100%);

  /* Color del texto en blanco */
  color: #ffffff;

  border-top: 1px solid #cccccc;

  /* Animación de intro */
  animation: intro 0.3s both;
  animation-delay: 0.45s;
}

.page__footer footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 100%;
  padding: 0 1em 1em;
}

.page__footer a {
  color: #ffffff; /* Enlaces en blanco */
  text-decoration: none;
}

.page__footer a:hover {
  text-decoration: underline;
}

.page__footer .fas,
.page__footer .fab,
.page__footer .far,
.page__footer .fal {
  color: #ffffff; /* Íconos en blanco */
}

/* Centrar el texto de copyright */
.page__footer-copyright {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

/* Redes sociales */
.page__footer-follow {
  text-align: center; /* Centrar las redes sociales */
}

.page__footer-follow ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline-block; /* Centra el contenedor de las redes sociales */
}

.page__footer-follow li {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px; /* Espacio entre los ítems */
}

.page__footer-follow li + li:before {
  content: "";
  padding-right: 5px;
}

.page__footer-follow a {
  color: #ffffff; /* Enlaces de redes sociales en blanco */
  font-weight: bold;
}
